@import "tailwindcss";

@keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.9) translate(-1rem, 0px);
    }
    100% {
      opacity: 1;
      transform: scale(1) translate(-1rem, 1.5rem);
    }
  }
  
  .animate-drop {
    animation: fade-in-scale 0.3s ease-out;
    animation-fill-mode: forwards;
  }

  @keyframes fade-in-scale2 {
    0% {
      opacity: 0;
      transform: scale(0.9) translate(-2rem, 0px);
    }
    100% {
      opacity: 1;
      transform: scale(1) translate(-2rem, 1.5rem);
    }
  }
  .animate-drop2 {
    animation: fade-in-scale2 0.3s ease-out;
    animation-fill-mode: forwards;
  }

  @keyframes fade-in-scale3 {
    0% {
        opacity: 0;
        transform: scale(0.8) translate(50px, 50px);
    }
    100% {
        opacity: 1;
    }
}

.animate-drop3 {
    animation: fade-in-scale3 0.5s ease-out;
    animation-fill-mode: forwards;
}
